<body>
    <h1>Checkout</h1>
    <div id="Box">
        <div id="Input Checkout">
            <h3>Enter Information</h3>
            <p>FullName: <input type="text" v-model="FullName"></p>
            <p>Phone Number: <input type="number" v-model="PhoneNumber"></p>
        </div>

        <div id="Output Checkout">
            <h3>Order Information</h3>
            <p>First Name: {{FullName}}</p>
            <p>Phone Number: {{PhoneNumber}}</p>
        </div>

        <div id="Submit">
            <button v-on:click="SubmitForm()" v-bind:disabled="this.FullName == '' || this.PhoneNumber == ' '">
                <span v-if="this.FullName == ' ' || this.PhoneNumber == ' '">Enter Details</span>
                <span v-else>Checkout</span>
            </button>
        </div>

        <div id="Result">
        </div>
    </div>

    <script>
        const {
            createApp
        } = Vue
        createApp({
            data() {
                return {
                    FullName: '',
                    PhoneNumber: '',
                }
            },
            methods: {
                SubmitForm() {
                    alert('Your Order has Been Submitted!! ' + this.FullName)
                }
            },
        }).mount('#Box')
    </script>
</body>

</html>