<body>
    <h1>Checkout</h1>
    <div id="Box">
        <div id="Input Checkout">
            <h3>Enter Information</h3>
            <p>FullName: <input type="text" v-model="FullName"></p>
            <p>Phone Number: <input type="number" v-model="PhoneNumber"></p>
        </div>

        <div id="Output Checkout">
            <h3>Order Information</h3>
            <p>First Name: </p>
            <p>Phone Number: </p>
        </div>

        <div id="Submit">
            <button v-on:click="SubmitForm()" v-bind:disabled="this.FullName == '' || this.PhoneNumber == ' '">Submit</button>
        </div>