<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Coursework</title>
    <script src="product.js"></script>
</head>

<body>
    <!--Below we are introducing the div which will hold all of the html-->
    <!--we gave this div an ID and will use this ID in javascript to write code using vue.-->
    <div id="app">
        <h1 id="page">LanguagesRUS</h1>
        <!--The code below creates the search bar -->
        <div class="search">
            <input class="stext" v-model="searchS" type="text" name="" placeholder="Type to search">
            <a class="sbtn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sort">
            <p>Sort By:</p>
            <button class="bttn" v-on:click="sortP ='title'">Subject</button>
            <button class="bttn" v-on:click="sortP ='loc'">Location</button>
            <button class="bttn" v-on:click="sortP ='price'">Price</button>
            <button class="bttn" v-on:click="sortP ='rating'">Rating</button>
        </div>
        <div class="pref">
            <input id="asc" type="radio" name="order" v-on:click="" value="asc">
            <label for="asc">asc</label>
            <br>
            <input id="des" type="radio" name="order" v-on:click="" value="des">
            <label for="asc">des</label>
        </div>
        <button class="btn" v-on:click="opencart = true">{{cartCount}}<span class="fa fa-shopping-basket"></span>Basket</button>
        <div class="showcartwindow">
            <div class="cartwindow" v-if="opencart" @click="opencart = false"></div>
            <!--The code below is for the cart -->

            <!--the code below is to display the lessons-->
            <div class="showcart" v-if="opencart">
                <button class="close" v-on:click="opencart = false">x</button>
                <h1>Cart</h1>
                <table>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    <tr v-for="(cart,n) in cart">
                        <td><img v-bind:src="cart.image"></td>
                        <td>{{cart.title}}</td>
                        <td>{{cart.loc}}</td>
                        <td>{{cart.price}}</td>
                        <td><button v-on:click="removeitem(product)">x</button></td>
                    </tr>
                </table>
                <a href="checkout.html"><button>checkout</button></a>
            </div>
        </div>
        <div class="prodcard" v-for="product in sortItem">
            <img class="img" v-bind:src="product.image">
            <h1 v-text="product.title"></h1>
            <p class="description" v-html="product.description"></p>
            <p class="Location">
                Location: {{product.loc}}
                <!--here we are refering to the script code where we set the values. We are calling the array and the variable name found in the array-->
            </p>
            <p class="price">
                Price: £{{product.price}}
            </p>
            <p v-html>Spaces: {{product.availablesp}}</p>
            <!--the code below creates different buttons and allocates them to different functionality -->
            <button class="Addbtn" id="addButt" v-on:click='addItem(product)' v-if="canAddToCart(product)">Purchase Lesson</button>
            <button disabled="true" class="Addbtn" id="addButt2" v-else>Purchase Lesson</button>
            <span v-if='product.spaces === cartprodCount(product.id)'>Out of stock</span>
            <span v-else-if="product.spaces-cartprodCount(product.id)<5">Only {{product.spaces-cartprodCount(product.id)}} left!!</span>
            <span v-else>Buy Now!!!</span>
            <!--The code below displays the rating based on the rating given. -->
            <div>
                <span v-for='n in product.rating'>★</span>
                <span v-for='n in 5 - product.rating'>☆</span>
            </div>
        </div>





    </div>


    <!-------------------------------------------------------------------------------------------->
    <script type="text/javascript">
        let webstore = new Vue({ // The Vue instance
            el: '#app',
            data: {
                sitename: "LessonRUs",
                product: product,
                sortP: '',
                searchS: '',
                opencart: false,
                //the line below is the cart array
                cart: []
            },
            methods: {
                addItem(product) {
                    if (product.availablesp > 0) {
                        product.availablesp--;
                    }
                    this.cart.push({
                        image: product.image,
                        id: product.id,
                        title: product.title,
                        description: product.description,
                        price: product.price,
                        loc: product.loc,
                    });

                },
                cartprodCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart(product) {
                    return product.spaces > this.cartprodCount(product.id)
                },




            },
            computed: { // computed functions are functions which require the machine to make decisons and changes based on actions perfomed on the application
                cartCount: function() {
                    return this.cart.length || "";

                },
                sortItem: function() {
                    let searchS = this.searchS;
                    const sortArray = this.product.sort((a, b) => {
                        if (a[this.sortP] < b[this.sortP]) return -1
                        if (a[this.sortP] < b[this.sortP]) return 1
                        return 0

                    });
                    if (!searchS) {
                        return sortArray;
                    } else {
                        searchS = searchS.trim().toLowerCase();
                        const arrayS = sortArray.filter((item) => {
                            if (item.title.toLowerCase().indexOf(searchS) !== -1) {
                                return item;
                            }
                        });
                        return arrayS;
                    }
                },




            }

        });
    </script>
</body>

</html>